<style>
    .circle {
        border-radius: 50%;
        border: 1px solid;
        width: 200px;
        height: 200px;
    }
</style>

<div id="divResult">
    <div class="pt-5 mt-3 circle text-center offset-4">
        <div class="col-sm-12 text-primary"> 
            <span>Test Complete</span>
        </div>
    </div>
    <div>
        <br />
        <button class="btn btn-primary offset-5">
            View Results
        </button>
    </div>
</div>